.challenge-container {
    background: #EBEBEB;
    border-radius: 15px;
}

.challenge-title {
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
    outline: none;
    height: 43.37px;
    padding: 10px;
    width: 100%;
}

.cats-container {
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
}

.challenge-cat {
    background: #F5F5F5;
    border-radius: 4px;
    padding: 1px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.011em;
    color: #455A64;
    cursor: pointer;
    padding: 7px;
    border: none;
    margin: 5px;
}

.active-category {
    border: 1px solid red;
    color: red;
}

.challenge-desc {
    background: #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 6px;
    outline: none;
    height: 43.37px;
    padding: 10px;
    width: 100%;
}

.tasks-container {
    background: linear-gradient(112.83deg, rgba(255, 255, 255, 0.47) 0%, rgba(255, 255, 255, 0) 110.84%);
    border: 2px solid #DADADA;
    border-radius: 15px;
}

.container-header {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 28px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: -0.011em;
}

.close-modal-icon {
    border-radius: 50%;
    box-shadow: 0px 4px 9px rgb(0 0 0 / 19%);
    cursor: pointer;
}

.task-modal-header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: rgba(230, 0, 0, 0.84);
}

.task-modal-body {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.011em;
    color: #333333;
}

.task-area {
    width: 530px;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 15px;
    resize: none;
}

.save-btn {
    width: 273.5px;
    height: 56px;
    background: linear-gradient(123.74deg, rgba(230, 0, 0, 0.84) 63.8%, #FFB6B6 114.12%);
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.011em;
    color: #FFFFFF;
    border: none;
    outline: none;
}

.cancel-btn {
    width: 191px;
    height: 56px;
    border: 1px solid #464E5F;
    border-radius: 8px;
    outline: none;
    margin: 5px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.011em;
    color: #000000;
}

.create-btn {
    width: 191px;
    height: 56px;
    border: 1px solid #464E5F;
    border-radius: 8px;
    outline: none;
    border: none;
    background: linear-gradient(123.74deg, rgba(230, 0, 0, 0.84) 63.8%, #FFB6B6 114.12%);
    margin: 5px;
    border-radius: 8px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.011em;
    color: #FFFFFF;
}

.arrow {
    font-size: 28px;
    color: #979797;
    cursor: pointer;
}

.change-task {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.011em;
    color: #263238;
    margin: 2px 5px 0;
}

.next-prev-task {
    color: rgba(230, 0, 0, 0.84);
}