.challenges-header-row {
    opacity: 1;
    border-radius: 15px;
    background-image: url(../../../assets/challengesHeaderImg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

.challenges-header-text-color {
    color: white;
    font-family: 'Poppins';
    font-style: normal;
    /* font-weight: 500;
    line-height: 24px; */
}

.challenges-header-img {
    background-image: url(../../../assets/challengesHeaderImg.png);
    background-repeat: no-repeat;
    background-position: center;
}

.challenges-container {
    background: linear-gradient(112.83deg, rgba(255, 255, 255, 0.47) 0%, rgba(255, 255, 255, 0) 110.84%);
    box-shadow: 0px 0px 17px rgba(230, 0, 0, 0.3);
    border-radius: 15px;
    font-family: 'Poppins';
    font-style: normal;
    /* font-weight: 800;
    line-height: 24px; */
}

.create-challenge-btn {
    border-radius: 7px;
    color: linear-gradient(123.74deg, rgba(230, 0, 0, 0.84) 63.8%, #FFB6B6 114.12%);
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 1px 9px rgba(230, 0, 0, 0.2);
    width: 230.64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    color: red;
    font-size: 14px;
}

.challenges-categories-btn {
    background: #F5F5F5;
    border-radius: 4px;
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    padding: 10px;
    margin-left: 10px;
    color: #455A64;
}

.active-category {
    border: 1px solid red;
    color: red;
}

.productivity-container {
    background: linear-gradient(112.83deg, rgba(255, 255, 255, 0.47) 0%, rgba(255, 255, 255, 0) 110.84%);
    box-shadow: 0px 0px 17px rgba(230, 0, 0, 0.3);
    border-radius: 15px;
    font-family: 'Poppins';
    font-style: normal;
    height: 710px;
}