.task-card {
    background: #FBFBFB;
    border-radius: 9px;
    height: 124.85px;
    box-shadow: 0px 2px 12px rgb(0 0 0 / 15%);
    border: 1px solid rgb(0 0 0 / 15%);
    margin-top: 15px;
    cursor: pointer;
}

.task-card h6 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.number-of-day {
    background: linear-gradient(123.74deg, rgba(230, 0, 0, 0.84) 63.8%, #FFB6B6 114.12%);
    color: #FFFFFF;
    border-radius: 50%;
    width: 35.16px;
    height: 35.16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.done-task {
    background-color: rgba(230, 0, 0, 0.84);
}

.done-task-num-of-day {
    background: #FFFFFF;
    color: red;
    border-radius: 50%;
    width: 35.16px;
    height: 35.16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-number-of-day {
    background: #464E5F;
    color: #FFFFFF;
    border-radius: 50%;
    width: 35.16px;
    height: 35.16px;
    display: flex;
    justify-content: center;
    align-items: center;
}