.auth-container {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.18);
    border-radius: 18px;
}

.auth-header {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 38px;
}

.auth-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

form {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.check-box-label {
    font-weight: 700;
    font-size: 14px;
}

.auth-btn {
    background: linear-gradient(122.33deg, rgba(230, 0, 0, 0.84) 30.62%, #FFB6B6 100%);
    box-shadow: 5px 5px 20px rgba(0, 224, 255, 0.15);
    border-radius: 10px;
    width: 300px;
    height: 64px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    border: none;
    outline: none;
    color: #FFFFFF;
}

.signup-side-img {
    background: url(../../assets/SignupSideImg.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.login-side-img {
    background: url(../../assets/LoginSideImg.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.side-img-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    color: #FFFFFF;
    width: 88%;
}